<!doctype>
<html>
<head>
	<title>SNAKE, SNAKKKKE</title>
	<style type="text/css">
		body { background: #001425; color: #f0f0f0; font-size: 90%; padding:  10px; }
		h1,h2 {font-family: "Helvetica Neue",Arial, Helvetica, sans-serif; }
		canvas { margin: 20px; background: #eff; border: 10px solid #abb;float: left; }
		
		#counter {
			float: left; 
			padding-left: 20px;
		}
		
		h2.border {
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px solid #fff;
		}
		
		#scores {
			display:none;	
font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;			
		}
			#score ol {
				list-style: none;
			}
			#scores li {
				padding: 5px 0px;
			}
			
		
	</style>
</head>
<body>
<h1>All the games are here</h1>
<div id="the_games">
	
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script> 

<script src="/socket.io/socket.io.js"></script>
<script src="/dashboard.js" ></script>


</body>
</html>